<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="css/icons.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"/>

    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1">
    <title>Dashboard</title>
</head>
<body>

    <header>
        <nav class="teal">
            <div class="nav-wrapper">
                <a href="/userpage" class="brand-logo">Dashboard</a>
                <a href="#!" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right">
                    <li>
                        <form method="post" th:action="@{/logout}">
                            <button class="white-text waves-effect waves-teal btn-flat" type="submit">Logout</button>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>

        <ul id="slide-out" class="sidenav sidenav-fixed">
            <li><a href="/userpage">Dash Board<i class="material-icons left">dashboard</i></a></li>
            <li><a href="/touchlog">Touch Log<i class="material-icons left">dvr</i></a></li>
            <li><a href="/cardedit">Card Management<i class="material-icons left">credit_card</i></a></li>
        </ul>
    </header>

    <main>
        <div class="container">
            <div class="row">
                <div class="col s12 m6">
                    <div class="card teal lighten-5" id="reader_card">
                        <div class="card-content black-text">
                            <span class="card-title">リーダ接続</span>
                            <p id="reader_connect">接続されていません</p>
                        </div>
                        <div class="card-action">
                            <a href="#!" class="tooltipped" data-tooltip="更新" onclick="updateReaderStatus()"><i class="inline-icon material-icons">refresh</i></a>
                            <a href="#!" onclick="connectReader()">Connect</a>
                            <a href="#!" onclick="closeReader()">Close</a>
                        </div>
                    </div>
                </div>

                <div class="col s12 m6">
                    <div class="card teal lighten-5" id="physical_state_card">
                        <div class="card-content black-text">
                            <span class="card-title">物理状態</span>
                            <p><i class="material-icons inline-icon"><img src="images/door-open.svg" id="door_icon"></i>   <span id="door"></span>   <i id="door_warn" class="inline-icon orange-text text-accent-2 material-icons hide">warning</i></p>
                            <br>
                            <p><i class="material-icons inline-icon" id="lock_icon">lock_open</i>   <span id="lock"></span>   <i id="lock_warn" class="inline-icon orange-text text-accent-2 material-icons hide">warning</i></p>
                        </div>
                        <div class="card-action">
                            <a href="#!" class="dropdown-trigger" data-target="dropdown2"><i class="inline-icon material-icons">more_vert</i></a>
                            <a href="#!" class="tooltipped" data-tooltip="更新" onclick="updatePhysicalState()"><i class="inline-icon material-icons">refresh</i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6">
                    <div class="card teal lighten-5">
                        <div class="card-content black-text">
                            <span class="card-title">ちっちゃいタッチログ入れたい</span>
                            <p>ｽﾞﾗｰｰ</p>
                        </div>
                        <div class="card-action">
                            <a href="#!" class="tooltipped" data-tooltip="更新"><i class="inline-icon material-icons">refresh</i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <ul id='dropdown2' class='dropdown-content'>
            <li><a href="#!">解錠</a></li>
            <li><a href="#!">施錠</a></li>
            <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
            <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
        </ul>

    </main>


    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script type="text/javascript" src="js/helper.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            updateReaderStatus(true);
            updatePhysicalState(true);
            $('.sidenav').sidenav();
            $('.tooltipped').tooltip();
            $('.dropdown-trigger').dropdown();
            startPhysicalAutoUpdate();
        });

        function updateReaderStatus(flag=null){
            $.get({
                url: 'api/status',
                dataType: 'json',
                timeout: 5000,
            })
            .done((data)=>{
                if(data['connected']){
                    $('#reader_connect').html($('<dummy>').text("接続されています\n"+data['device']).html().replace(/\n/g, '<br>'));
                    $('#reader_card').attr('class','card teal lighten-5');
                } else {
                    $('#reader_connect').html("接続されていません");
                    $('#reader_card').attr('class','card deep-orange lighten-5');
                }
                if(flag==null)
                    toast("更新しました");
            })
            .fail(()=>{
                errorToast('取得に失敗しました');
                $('#reader_card').attr('class','card deep-orange lighten-5');
            });
        }

        function connectReader(){
            $.get({
                url: 'api/start',
                dataType: 'json',
                timeout: 5000,
            })
            .done(()=>{
                updateReaderStatus(true);
            })
            .fail((xhr)=>{
                switch (xhr.status){
                    case 409:
                        errorToast("接続済みです");
                        break;
                    default:
                        errorToast('リーダ接続に失敗しました');
                }
            });
        }

        function closeReader(){
            $.get({
                url: 'api/close',
                dataType: 'json',
                timeout: 5000,
            })
            .done(()=>{})
            .fail(()=>{
                errorToast('接続解除に失敗しました');
            })
            .always(()=>{
                updateReaderStatus(true);
            });
        }


        let physicalUpdateHandle = null;
        function startPhysicalAutoUpdate(){
            if(physicalUpdateHandle==null)
                physicalUpdateHandle = setInterval(()=>{
                    updatePhysicalState(true);
                },2500);
        }

        function stopPhysicalAutoUpdate(){
            if(physicalUpdateHandle != null)
                clearInterval(physicalUpdateHandle);
            physicalUpdateHandle = null;
        }

        function updatePhysicalState(flag=null){
            $.get({
                url: 'api/door/status',
                dataType: 'json',
                timeout: 5000,
            })
            .done((data)=>{
                updatePhysicalStateTable(data);
                if(flag==null)
                    toast("更新しました");
            })
            .fail(()=>{
                if(flag==null)
                    errorToast('取得に失敗しました');
                $('#physical_state_card').attr('class','card deep-orange lighten-5')
            });
        }

        function updatePhysicalStateTable(data){
            const closed=data['closed']
            const locked=data['locked']
            const door_icon = $('#door_icon');
            if(closed===true){
                if(door_icon.attr('src')!=="images/door-close.svg")
                    door_icon.attr('src',"images/door-close.svg");
                $('#door_warn').addClass('hide');
                $('#door').text("Closed");
            }else{
                if(door_icon.attr('src')!=="images/door-open.svg")
                    door_icon.attr('src',"images/door-open.svg");
                $('#door_warn').removeClass('hide');
                $('#door').text("Opened");
            }
            if(locked===true){
                $('#lock_icon').text("lock")
                $('#lock_warn').addClass('hide');
                $('#lock').text("Locked");
            }else{
                $('#lock_icon').text("lock_open")
                $('#lock_warn').removeClass('hide');
                $('#lock').text("Unlocked");
            }

            if(closed===true&&locked===true){
                $('#physical_state_card').attr('class','card teal lighten-5')
            } else {
                $('#physical_state_card').attr('class','card deep-orange lighten-5')
            }
        }

    </script>
</body>
</html>